@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>This is an example of replacing EF with LLBLGen Pro as the persistence store for net core 3.0 identity.</p>
        A custom UserStore and RoleStore have been implemented.</p>
    </div>
