@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is an example of replacing EF with LLBLGen Pro as the persistence store for .NET 8 identity.</p>
    <p>A custom UserStore and RoleStore have been implemented.</p>
</div>
